<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cukorders.helping">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_charcter"
        android:label="너의 부름"
        android:roundIcon="@drawable/logo_charcter"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:resource="@drawable/primary_btn_bg"
            android:value="AIzaSyA9CPuZCP0dwE7PvX9R3IECiL3AzEYW7D8" />

        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegionActivity" />
        <activity android:name=".ChooseTheRegionActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterFinishActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".AuthActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>